body {
  width: 404px;
  height: auto;
  border: 1px solid #212936;
  margin: 0;
	border-radius: 2px;
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
  background: #FFFFFF;
	/* margin-top: 20px;
	margin-left: 20px; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

