body {
  width: 400px;
  height: auto;
  border: 1px solid #212936;
  margin: 0;
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
  background: #FFFFFF;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

